/* ------------------------------- */
/*----- Configurações Básicas -----*/
/* --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #121212; /* Fundo escuro */
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: #000;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
}

/* --------------------------------- */
/*--------------- NAVBAR -----------*/
/* --------------------------------- */

.logo-img {
    width: 80px;
    display: inline-block;
    vertical-align: text-top;
    }

/* Título do site */
.navbar-brand {
    font-family: "Bungee", sans-serif;
    color: #f7d5a2;
    margin-left: 15px;
}

body { 
    background-color: #121212;
}

/* Seções da navbar */
.nav-link {
    color:#834a34;
    font-family: "Josefin Sans", sans-serif;
}

.nav-link:link,
.nav-link:visited{
    color:#FFF;
}

.nav-link:hover {
    color: #f7d5a2;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Scroll suave ao clicar */
html {
    scroll-behavior: smooth;
}

.navbar-nav {
    margin-left: auto; /* Empurra os itens para a direita */
  }

/* ------------------------------- */
/*------------- Hero Header --------*/
/* --------------------------------- */

header{
    position: relative;
}

h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

p{
    color: white;
}

.hero-text-box {
    position: absolute;
    width: 1000px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* Ajustes do carrossel */
.carousel-inner {
    background-color: #1c1c1c; /* Fundo escuro para o carrossel */
    width: 100%;
    height: 700px;
}

/* Ajuste dos indicadores do carrossel */
.carousel-indicators li {
    background-color: #ffb84d; /* Laranja claro */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(80%); /* Ajuste para contraste nos ícones do carrossel */
}

/* Menu de itens */
.sessão-menu h2 {
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    font-size: 2.5rem;
    color: #f7d5a2; 
    text-align: center;
}


.item-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 10px;
}

.item {
    background-color: #1c1c1c; /* Fundo escuro para os itens */
    padding: 15px;
    text-align: center;
    border: 1px solid #333; /* Borda escura */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra mais sutil */
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f7d5a2; /* Tom de laranja claro */
}

.item-price {
    color: #f7d5a2; /* Tom de laranja claro */
    font-size: 16px;
    margin-bottom: 10px;
}

.item-button {
    background-color: #c8a166; /* Botão em laranja mais forte */
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.item-button:hover {
    background-color: #f7d5a2; /* Tom de laranja mais escuro no hover */
    transition: 0.3s ease, transform 0.3s ease;
}

/* ------------------------------- */
/* ----- Seção Nosso Espaço ----- */
/* --------------------------------- */

.sessao-espaco {
    background-color: #121212; /* Fundo escuro */
    padding: 60px 20px; /* Espaçamento interno */
}

.sessao-espaco h2 {
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    font-size: 2.5rem;
    color: #f7d5a2; 
    text-align: center;
}

.sessao-espaco p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #d3d3d3; /* Cor cinza claro */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto; /* Centraliza o parágrafo */
}

/* ------------------------------- */
/* ----- Seção Espaço de Coworking ----- */
/* --------------------------------- */

.sessao-coworking {
    background-color: #121212; /* Fundo escuro */
    padding: 60px 20px; /* Espaçamento interno */
}

.sessao-coworking h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    color: #f7d5a2; /* Laranja claro */
    margin-bottom: 30px; /* Espaçamento inferior */
}

.sessao-coworking .img-coworking {
    display: grid; /* Usando grid para um controle mais preciso do espaço */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajuste automático das colunas */
    gap: 30px; /* Espaçamento entre as imagens */
    justify-items: center; /* Centraliza as imagens no grid */
    margin-top: 20px;
}

.sessao-coworking .img-coworking img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave nas imagens */
    transition: transform 0.3s ease; /* Efeito de transformação suave */
}

.sessao-coworking .img-coworking img:hover {
    transform: scale(1.05); /* Aumenta a imagem ao passar o mouse */
}

.sessao-coworking .coworking-description {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    color: #d3d3d3; /* Cor cinza claro */
    margin-top: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto; /* Centraliza a descrição */
}

/* ------------------------------- */
/* Responsividade para a seção Espaço de Coworking */
/* --------------------------------- */

@media (max-width: 768px) {
    .sessao-coworking h3 {
        font-size: 2rem; /* Tamanho do título menor em telas pequenas */
    }

    .sessao-coworking .coworking-description {
        font-size: 1rem; /* Texto menor em telas menores */
    }

    .sessao-coworking .img-coworking {
        grid-template-columns: 1fr; /* Em telas pequenas, exibe as imagens em uma coluna */
        gap: 20px; /* Menor espaçamento entre as imagens */
    }

    .sessao-coworking .img-coworking img {
        max-width: 100%; /* Ajusta a largura das imagens para caber em telas menores */
    }
}

/* Estilos Gerais para a Seção da Equipe */
#equipe {
    background-color: #1c1c1c; /* Cor de fundo suave para a seção */
    padding: 50px 0; /* Espaçamento interno para a seção */
}

.titulo {
    text-align: center; /* Centraliza o título */
    font-size: 2rem;
    margin-bottom: 40px; /* Espaçamento abaixo do título */
}

/* Estilos para os Cards */
.card {
    border: 1px solid #1c1c1c; /* Borda suave para o card */
    border-radius: 8px; /* Bordas arredondadas */
    overflow: hidden; /* Garante que a imagem e o conteúdo não ultrapassem as bordas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para o card */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para o efeito de aumento e sombra */
    display: flex;
    flex-direction: column; /* Garante que a imagem e o conteúdo fiquem empilhados na vertical */
}

.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para dar mais destaque */
}

.card-img-top {
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    height: 300px; /* Aumenta a altura da imagem */
    object-fit: cover; /* Garante que a imagem se ajuste corretamente sem distorcer */
    cursor: pointer; /* Indica que a imagem pode ser clicada */
}

.card-body {
    padding: 15px;
    background-color: #1c1c1c; /* Cor de fundo branca para o corpo do card */
    flex-grow: 1; /* Faz com que o corpo do card ocupe o restante do espaço disponível */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #f7d5a2;
}

.card-text {
    font-size: 1rem;
    color: #ffffff; /* Cor mais suave para o texto */
}

.card-text strong {
    color: #ffffff; /* Cor mais escura para os títulos de cada detalhe (como "Grão preferido") */
}

/* Estilo para os ícones sociais */
.social-icons {
    margin-top: 10px;
    text-align: center;
}

.social-icons a {
    color: #333; /* Cor padrão dos ícones */
    margin: 0 10px; /* Espaçamento entre os ícones */
    font-size: 1.5rem; /* Tamanho dos ícones */
    transition: color 0.3s ease; /* Transição suave para mudança de cor */
}

.social-icons a:hover {
    color: #ffffff;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .row {
        flex-direction: column; /* Para telas menores, empilha os cards */
        align-items: center; /* Centraliza os cards */
    }

    .col {
        width: 80%; /* Reduz a largura dos cards em telas menores */
        margin-bottom: 20px; /* Adiciona espaçamento entre os cards */
    }
}





/* Sessão Nossos Grãos */
.sessao-graos {
    background-color: #121212; /* Fundo escuro */
    padding: 40px 0; /* Espaçamento interno */
}

.sessao-graos h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    color: #ffb84d; /* Laranja claro */
    text-align: center;
    margin-bottom: 30px;
}

.card {
    border: 1px solid #333; /* Borda escura */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #1c1c1c; /* Fundo escuro do card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra escura */
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    font-family: 'Lato', sans-serif;
    color: #fff; /* Texto branco */
}

.card-body h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f7d5a2;
    margin-bottom: 15px;
}

.card-body p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #d3d3d3; 
}

.card-footer {
    background-color: #1c1c1c; 
    border-top: none;
    text-align: center;
}

.card-footer .btn {
    background-color: #c8a166;
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.card-footer .btn:hover {
    background-color: #f7d5a2; /* Laranja mais escuro */
}

/* Responsividade para a seção */
@media (max-width: 768px) {
    .sessao-graos h2 {
        font-size: 2rem; /* Título menor em telas pequenas */
    }

    .card-body p {
        font-size: 0.85rem; /* Texto menor em telas menores */
    }
}

  

/* Sessão de Localização */

.sessao-localizacao {
    background-color: #121212; /* Fundo escuro */
    padding: 40px 20px; /* Espaçamento interno */
    border-top: 2px solid #333; /* Linha separadora escura */
}

.sessao-localizacao h2 {
    font-family: 'Josefin Sans', sans-serif; /* Fonte personalizada */
    font-size: 2.5rem; /* Tamanho do título ajustado */
    color: #ffb84d; /* Cor laranja claro */
    text-align: center; /* Centralização do título */
    margin-bottom: 30px; /* Espaçamento inferior */
}

/* Ajuste para o texto de descrição */
.sessao-localizacao p {
    font-family: 'Lato', sans-serif; /* Fonte personalizada */
    font-size: 1.1rem; /* Tamanho do texto ajustado para maior legibilidade */
    color: #d3d3d3; /* Cor cinza claro */
    line-height: 1.6; /* Altura da linha */
    text-align: center; /* Centralização do texto */
    margin-bottom: 20px; /* Margem inferior */
}

/* Estilo do mapa (iframe) */
.sessao-localizacao .ratio {
    border: 2px solid #333; /* Bordas escuras */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Evita elementos saindo da área */
    margin: 0 auto; /* Centraliza o mapa */
    max-width: 800px; /* Largura máxima */
}

/* Estilo para o iframe do mapa */
.sessao-localizacao iframe {
    border: none; /* Remove borda padrão do iframe */
    width: 100%; /* Ocupa toda a largura disponível */
    height: 400px; /* Altura padrão */
}

/* Responsividade */
@media (max-width: 768px) {
    .sessao-localizacao h2 {
        font-size: 2rem; /* Tamanho do título menor em telas pequenas */
    }

    .sessao-localizacao p {
        font-size: 1rem; /* Texto menor em telas pequenas */
    }

    .sessao-localizacao .ratio iframe {
        height: 300px; /* Reduz altura do mapa em telas menores */
    }
}
/* Footer */
.footer-bottom {
    background-color: #1c1c1c; /* Fundo escuro para o rodapé */
    padding: 10px;
    text-align: center;
    color: #ffb84d; /* Tom de laranja claro */
}

/* Para ajustar o alinhamento e espaçamento em dispositivos móveis */
@media (max-width: 767px) {
    .navbar-brand {
        margin-left: 10px;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}